.App{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .col-header{
    margin:8px;
  }
.header1asdasd{
  position: absolute;
  /* top: 548px; */
  right: 0;
}
}
.box {
  padding: 4px;
  width:550px;
  min-height:200px;
 }